*{
  color:rgba(0,0,0,0.84);
  font-family: 'Nanum Square', sans-serif;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  padding-left: 20px;
  z-index: 3;
  box-shadow: inset 0 -1px 0 #ccc;
  height: 50px;
  text-align: center;
}

#main {
  background: linear-gradient(to right, rgba(212, 244, 250, 0.7) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 80%, rgba(212, 244, 250, 0.7) 100%);
}

.header{
  float: left;
  position:relative;
  top:50%;
  padding-top: 3px;
  margin-left: 6px;
}

#side_button {
  padding-left: 5px;
  padding-top: 8px;
}

#side {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.6));
  width: 300px;
  left: -700px;
  position: fixed;
  color: black;
  font-size: 20px;
  z-index: 2;
  box-shadow: inset -1px 0 1px #ccc;
  overflow: auto;
}

#side_button {
  margin: auto 0;
  height: 30px;
}

.list_author {
  font-size: 13px;
}

.list {
  padding: 5px 0 5px 10px;
  cursor: pointer;
}

.selected {
  background-color: rgba(163, 163, 163, 0.6);
}

.display{
  float: left;
}

#map {
  width: 75%;
}

#more {
  margin-left: -20px;
  width: 25%;
}

#info {
  background: linear-gradient(to right, rgba(212, 244, 250, 0.7) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 80%, rgba(212, 244, 250, 0.7) 100%);
  overflow: auto;
}

#display {
  margin-top: 6px;
  margin-left: 6px;
  margin-right: 6px;
  margin: auto;
  width: 85%;
}


#info-record {
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

.more {
  margin: 6px 6px 6px 6px;
  background: white;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

#userpointrank {
  height: 490px;
}
#userpointrank-table td:nth-child(2) {
  width: 150px;
  text-align: left;
}
#userpointrank-table td:nth-child(3) {
  text-align: right;
}
#userpointrank-table {
  margin: auto;
  margin-top: 10px;
}
#userpointrank-title {
  font-size: 20px;
}
#userpointrank-list {
  margin: 3px 3px 3px 3px;
  font-size: 18px;
}

#userrank {
  height: 110px;
}
#userrank-title {
  font-size: 20px;
}

#userrank-list {
  margin: 3px 3px 3px 3px;
  font-size: 18px;
}

.userrank-link {
  margin: 25px auto;
  width: 80%;
  text-align: center;
  margin-top: 8px;
  padding-top: 6px;
  margin-bottom: 8px;
  height: 30px;
  font-size: 16px;
  color: white !important;
  background: rgb(0, 174, 255);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  cursor: pointer;
}

#summit-record {
  font-size: 19px;
  height: 100px;
}

#summit-record-title {
  padding-top: 10px;
}

#title{
  font-size: 35px;
}

#author {
  font-size: 25px;
}
.vid {
  width: 768px;
  height: 432px;
}

#mapInfo {
  display: table;
  margin: 0 auto;
}
#explansion {
  font-size: 25px;
}

.Info-mapInfo-line {
  float: left;
  margin: auto;
  margin-bottom: 10px;
}

.Info-mapInfo {
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
  margin-left: 7px;
  margin: auto;
  margin-right: 7px;
  width: 150px;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  display: table-cell; 
  vertical-align: middle;
  display: inline-block;
  background: white;
}

#info-record {
  width: 80%;
  margin: 20px auto;
  background: white;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
}

#cutline {
  margin-top: 13px;
}

#info-record-table {
  width: 85%;
  margin: 0 auto;
  padding-top: 20px;
  font-size: 18px;
}

#info-record-list {
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
  border-collapse: collapse;
  border-spacing: 0;
}

#info-record-list td {
  width: 200px;
  text-align: center;
}

#info-record-list tr:nth-child(1) {
  background-color: #6b9fff !important;
  font-size: 1.1em;
  height: 30px;
  color: rgb(255,255,255) !important;
}

#info-record-list tr:nth-child(even) {
  background-color: rgb(200, 238, 255);
}

.userrank-list-top-table td:nth-child(1) {
  width: 65px;
  text-align: left;
}
.userrank-list-top-table td:nth-child(2) {
  width: 170px;
  text-align: left;
}
.userrank-list-top-table td:nth-child(3) {
  width: 75px;
  text-align: left;
}



.popup {
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.6);
  border: 2px solid #ccc;
  position: absolute; 
  top: 60px; 
  background:#fff;
  z-index: 1;
  margin-bottom: 50px;
}
#popup-up-search {
  height: 20px;
  width: 60%;
  text-align: center;
}
#popup-up-user-list {
  overflow: auto;
  height: 500px;
}
#popup-up-user-list table td:nth-child(2) {
  width: 130px;
}
#popup-up-user-list table td:nth-child(3) {
  width: 80px;
  text-align: right;
}
.uplist-user {
  background: white;
}
.uplist-user-black {
  background: rgb(240, 240, 240);
}
#popup-up-info {
  float: left;
}
#popup-up-display {
  width: 570px;
  float: left;
  height: 520px;
  overflow: auto;
}


#uplist-user-clear td:nth-child(1) {
  width: 350px;
  text-align: center;
}
#uplist-user-clear td:nth-child(2) {
  width: 200px;
  text-align: center;
}
#uplist-user-clear td:nth-child(3) {
  width: 180px;
  text-align: center;
}

.popup-ur-type {
  float: left;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 6px;
  cursor: pointer;
}

#popup-ur-type {
  display: inline-block;
  text-align: center;
}

.up-type-selected {
  background: rgb(216, 216, 216);
}
.up-type-selected img {
  opacity: 0.5;
}

#popup-ur {
  width: 600px;
  float: unset;
}

#ur-table {
  margin: 0px auto;
}

#ur-table td:nth-child(1) {
  font-weight: strong;
}

#ur-table td:nth-child(2) {
  width: 220px;
  text-align: center;
}

#ur-table td:nth-child(3) {
  width: 100px;
  text-align: center;
}


.popup-request {
  margin: 25px auto;
  width: 80%;
  text-align: center;
  margin-top: 8px;
  padding-top: 12px;
  margin-bottom: 8px;
  height: 45px;
  font-size: 16px;
  background: #00b7ff;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}


.close {
  width: 100px;
  height: 30px;
  font-size: 20px;
  margin-bottom: 5px;
  background: rgb(255, 112, 112);
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
  color: white;
  text-align: center;
  margin: auto;
  cursor: pointer;
}

strong > a:hover {color:rgba(0, 0, 0,0.5) !important; text-decoration:none; }
a > strong:hover {color:rgba(0, 0, 0,0.5) !important; text-decoration:none; }
A:hover {color:rgba(0, 0, 0,0.5) !important; text-decoration:none; }
a { color:black; text-decoration:none; }
